---
// Path: web/src/pages/index.astro

import Layout from '../layouts/Layout.astro';
import DarkModeToggle from '../components/DarkModeToggle.svelte';
---

<Layout>
	<main>
		<DarkModeToggle client:visible />
		<div
			class="nyx-color2-text-primary-base"
		>
			<span
				class="i-carbon-sun dark:i-carbon-moon"
				aria-hidden="true"
			/>
			COLORS
		</div>
		<div
			class="nyx-text-lh-title"
		>
			Test Title
		</div>
		<div class="i-mdi-alarm hover:text-orange-400" />
		<div class="i-mdi-alarm nyx-typography nyx-typography-truegray hover:text-orange-400 hover:text-sm" />

		<div class="racing-sans">
			Free trial session with a trainer
		</div>
		<div>
			Weight loss can have causes that aren't due to underlying disease. Examples include dieting, exercise, malnutrition or lack of access to food.
		</div>
	</main>
</Layout>
